*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
}
#name{
    color: #FF4F91;
    font-size: 40px;
    font-family: 'poppins',sans-serif;
}
.one{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
}
.top1{
    color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
#fd{
    padding-left: 45px;
    font-family: 'Inter',sans-serif;
}
.top2{
   padding-top: 10px;
    color: white;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #FF4F91;
    text-decoration: underline;
}
.hr{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FF4F91;
    gap: 10px;
    padding-top: 20px;
    
}
#ab{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
}
#sum{
    color: white;
}
.hide{
    display: none;
}





@media (max-width:750px) {
    .one{
        display: block;
    }
    .top1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        width: 100%;
    }
    #fd{
        padding-left: 0;
    }
    #name{
        font-size: 40px;
    }
    .top2{
        display: none;
    }
    .hide{
        display: flex;
        justify-content: space-evenly;
        font-size: 10px;
        color: white;
        padding-top: 10px;
    }
    .ws{
        white-space: nowrap;
    }
   
}