*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0f0f0f;
}
#name{
    color: #FF4F91;
    font-size: 40px;
    font-family: 'poppins',sans-serif;
}
.one{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.top1{
    color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
#fd{
    padding-left: 45px;
    font-family: 'Inter',sans-serif;
}
.top2{
   padding-top: 10px;
    color: white;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #FF4F91;
    text-decoration: underline;
}





@media (max-width:750px) {
    .one{
        display: block;
    }
    .top1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        width: 100%;
    }
    #fd{
        padding-left: 0;
    }
    #name{
        font-size: 40px;
    }
}